<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Index thymeleaf</title>
    <script src="/js/jquery-1.8.3.js"></script>

</head>


<body>
<form role="form" action="/mvc/importExcel" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile" name="myfile">
        <p class="help-block">请选择合适的Excel模板文件</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-info">导入</button>
</form>
</body>
</html>