<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
</head>
<body id="keyLogin">
<div id="login-div">
    <form id="login-form" action="login">
        <input type="text" id="userName" name="userName" placeholder="请输入用户名"/>
        <input type="password" id="passWord" name="passWord" placeholder="请输入密码"/>
        <input type="submit" id="login-btn" value="登陆" name="login"/>

        <input type= "button" id="test" value="test">
        <input type= "button" id="test2" value="test2">
        <input type= "button" id="test3" value="test3">
        <input type= "button" id="test4" value="test4">
        <input type= "button" id="test5" value="test5">
    </form>
</div>
</body>


<script src="/js/jquery-1.8.3.js"></script>
<script src="layer/layer.js"></script>

</html>