<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表页</title>
</head>

<style type="text/css">
    table,tr,td{
        border: beige 1px solid ;
    }
</style>

<body>
    <table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>昵称</th>
            <th>性别</th>
            <th>地址</th>
            <th>生日</th>
            <th>状态</th>
            <th>创建日期</th>
            <th>修改日期</th>
        </tr>
        <tr th:each="info,connectionStart : ${userInfos}" >
            <td th:text="${connectionStart.index}"></td>
            <td th:text="${info.userName}"></td>
            <td th:text="${info.nickName}"></td>
            <td th:text="${info.sex}"></td>
            <td th:text="${info.address}"></td>
            <td th:text="${info.birthday}"></td>
            <td th:text="${info.deleteFlag}"></td>
            <td th:text="${info.createTime}"></td>
            <td th:text="${info.updateTime}"></td>
        </tr>
    </table>
</body>
</html>