<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.dao.ExcelDao">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT  INTO agent(job_number,department,region,username,idcard,company_rankings,department_rankings,region_rankings,
        distance_first_company,distance_first_department,distance_first_region,participate,sex)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.job_number},#{item.department},#{item.region},#{item.username},#{item.idcard},#{item.company_rankings},
            #{item.department_rankings},#{item.region_rankings},#{item.distance_first_company},#{item.distance_first_department},#{item.distance_first_region},#{participate},#{item.sex})
        </foreach>
    </insert>

 
</mapper>